.nav-list {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 100px);
  padding-top: 15px;
  list-style: none;
  font-size: 20px;
}

@media (min-width: 768px) {
  .nav-list {
    font-size: 28px;
  }
}
