body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  place-items: center;
  margin-bottom: 10px;
  max-width: 100vw;
}

.cart-quantity {
  display: none;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .cart-quantity {
    display: inline;
  }
}

@media (max-width: 1200px) {
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .shop-items {
    grid-template-columns: 1fr;
  }
}
